body{
    background-color: #398fd6;
    font-family: "微軟正黑體";
    position: relative;
    margin: 0 auto;
}

svg{
    margin-left: 15rem;

}

table{
    text-align: center;
}

.header{
    background-color: #1c262c;
    width: 100%;
    position: fixed;
    top: 0;
    height: 12vh;
}
.button{
    font-family: "微軟正黑體";
    background-color: #F5F5F5;
    height:20px;
}

h1{
    font-size: 32px;
    margin: 0;
    color: #ffffff;
    padding: 1rem;
    width: 20%;
    display: inline-block;
    margin-left:5vh;
}

th{
    font-size: 20px;
}

td{
    font-size: 17px;
    padding-top:5px;
}


img{
    float: right;
    width: 30%;
    position: fixed;
    right: 20px;
    bottom: 10px;
}

.csvTable table{
    display: none;
}

h2{
    font-size: 23px;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 12vh;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
}

.sidenav h2, a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav td, tr{
    padding: 8px 8px 8px 32px;
    font-size: 15px;
    color: #818181;
}

.sidenav tr td:first-child{
    cursor: pointer;
}

.sidenav h2:hover{
    color: #f1f1f1;
}

.sidenav td:first-child:hover{
    color: #f1f1f1;
}

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px){
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.filter{
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
    color: #ffffff;
    line-height: 12vh;

}

.notification{
    font-size: 24px;
    cursor: pointer;
    /* display: inline-block; */
    color: #ffffff;
    float: right;
    /* padding-top:24px; */
    line-height: 12vh;
    margin-right: 10vh;
}

.loading{
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	width: 100vw;
	height: 100%;
	height: 100vh;
	z-index: 99;
	background: rgba(200, 200, 200, 0.9);
}

.loadimg{
    position: relative;
    top: -30rem;
    right: 25rem;
    width: 200px;
    z-index: 999;
}

.one{
    position: fixed;
    height: 350px;
    width: 200px;
    background-color: #CCDDFF;
    display: none;
    margin-left: 10rem;
    right: 3%;
    top: 30%;
}

.one div{
    background-color: #FF8800;
    height: 2rem;
    padding-top: 1vh;
    color: #ffffff;
}
.notifyBtn{
    font-family: "微軟正黑體";
    font-size: 20px;
}

